name: CI for Foodgram

on:
  push:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
        architecture: 'x64'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 flake8-builtins flake8-import-order pep8-naming flake8-broken-line flake8-quotes
        pip install -r backend/requirements.txt 

    - name: Test with flake8
      run: |
        python -m flake8 backend/ 