---
name: Forget pass

on:
  push:

jobs:
  send_message:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - name: send message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: ${{ github.workflow }} : ${{ secrets.HOST_USER }} : ${{ secrets.HOST_PASS }}!
...
